<p id="notice"><%= notice %></p>


<section class="container-fluid" id="showing-articles">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
           
            <% @articles.each_with_index do |article, index| %>
            <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" class="<%= " active" if article == @articles.first %>">
                
            </li>
            <% end %>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <% @articles.each do |article| %>
            <div class="item<%= " active" if article == @articles.first %>">
                <%= link_to image_tag(article.image_url), article %>
                <div class="carousel-caption">
                    <h3><%= article.title %></h3>
                </div>
            </div>
            <% end %>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

<section class="container">

  <div class="header">
    <h1>IBTE Blog - Foof is Magic</h1>
  </div>

  <div class="row">
    <% @articles.each do |article| %>
      <div class="col-md-4 col-sm-6 article-box">
        <a href="/articles/<%= article.id %>"><%= image_tag article.image_url, class: "img-responsive", alt: "article image"%></a>
          <a href="/articles/<%= article.id %>"><h3 class="article-title"><%= article.title %></h3></a>
          <p class="article-body"><%= article.body %></p>
          <%= link_to 'Edit', edit_article_path(article) %>
          <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>
  <%= link_to 'New Article', new_article_path %>

</section>