<p id="notice"><%= notice %></p>


<section class="container">
	<div class="row article">
		<div class="col-sm-6 col-xs-12">
			<%= image_tag @article.image_url, class: "img-responsive", alt: "article image"%>
		</div>
		<div class="col-sm-6 col-xs-12">
			<div class="article-content">
				<h3 class="show-article-title"><%= @article.title %></h3>
          		<p class="article-body"><%= @article.body %> <a href="#">Read more</a></p>
			</div>
		</div>
	</div>
</section>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
