<p id="notice"><%= notice %></p>


<section class="container">
	<div class="row article">
		<div class="col-sm-6 col-xs-12">
			<%= image_tag @article.image_url, class: "img-responsive", alt: "article image"%>
		</div>
		<div class="col-sm-6 col-xs-12">
			<div class="article-content">
				<h3 class="show-article-title"><%= @article.title %></h3>
          		<p class="article-body"><%= @article.body %> <a href="#">Read more</a></p>
          		<p>Average Rating: <div class="rated" data-score="<%= @article.average_rating %>"></div> </p>

          		<%= render 'new_comment' %>
          		<%= render 'comments' %>
			</div>
		</div>
	</div>
</section>

<% if user_signed_in? %>
 <%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>

<%= link_to 'Back', articles_path %>
