<!DOCTYPE html>
<html>
  <head>
    <title>IBTI Blog</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Itim">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spirax">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
  	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to "IBTE Blog", root_path, class: "navbar-brand" %> <!--end projectName -->
            </div> <!--end navbar-header -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><%= link_to 'About Us', simple_pages_about_path %></li>
                    <li><%= link_to 'Contact US', simple_pages_contact_path %></li>
                    <li><%= link_to 'Articles', articles_path %></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li>
                       <% if user_signed_in? %>
                        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
                       <% else %>
                        <%= link_to('Login', new_user_session_path) %>
                       <% end %>
                    </li>
                </ul>
                
            </div> <!-- end navbar-collaps -->
        </div> <!-- end nav container-->
    </nav>

    <!-- Flash Notice Tags -->
    <% if notice %>
      <div id="notice" class="alert alert-success"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div id="alert" class="alert alert-danger"><%= alert %></div>
    <% end %>

    <%= yield %>

    <footer class="site-footer">
        Copyright &copy; 2017 Ibtesam DH
    </footer>


<script type="text/javascript">
     $('.rating').raty({
    starHalf: '<%= asset_path 'star-half.png' %>',
    starOff: '<%= asset_path 'star-off.png' %>',
    starOn: '<%= asset_path 'star-on.png' %>',
    scoreName: 'comment[rating]'
  });
  $('.rated').raty({
    starHalf: '<%= asset_path 'star-half.png' %>',
    starOff: '<%= asset_path 'star-off.png' %>',
    starOn: '<%= asset_path 'star-on.png' %>',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
  
</script>
  </body>
</html>
